@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #585d68;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--extra-light); /* Apply background color to body */
}

.main {
    background-color: var(--extra-light); /* Apply background color to main section */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.section {
    background-color: var(--extra-light); /* Apply background color to sections */
}

.section__container {
    max-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0rem;
    background-color: var(--extra-light); /* Apply background color */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-top:0px;
    margin-bottom: -20px;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    margin-left: -20px;
}

/* Button styles */
.account__container {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    margin-bottom: 20px; 
}

.akun {
    display: inline-block; /* Memastikan tombol mengikuti ukuran teks */
    padding: 12px 20px;
    background-color: transparent;
    color: #6f2dbd;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #a37dcf;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.akun:hover {
    background-color: #b388e4;
    color: white;
}

.mulai__test {
    display: inline-block;
    padding: 12px 27px;
    background-color: transparent;
    color: #6f2dbd;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #a37dcf;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mulai__test:hover {
    background-color: #b388e4;
    color: white;
}

.portfolio {
    color: var(--primary-color);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
}

@media (width < 750px) {
    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action__btns {
        margin: auto;
    }
}

#researchQuestion {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
#researchQuestion input[type="radio"] {
    margin-left: 5px; 
    margin-right: 5px; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%; 
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

#questionModal {
    pointer-events: auto;
}

#questionModal .modal-content {
    pointer-events: auto;
}

header, a {
    position: relative;
    z-index: 1001; 
}

/* Tombol Tutup Modal */
.modal-close {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-close:hover {
    background-color: #d32f2f;
}

/* Efek Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsif untuk modal */
@media screen and (max-width: 550px) {
    .modal-content {
        width: 80%;
    }
}

/* Test form page */
.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    background-color: var(--extra-light); 
}

.table th,
.table td {
    padding: 15px 20px; 
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
}

.table tr th {
    background: #292C2F;
    color: #fff;
    font-size: 1rem; 
    font-weight: normal;
}

.table tr td:nth-child(1) {
    text-align: left;
}

.table tr:hover {
    background-color: #faf5ff;
    color: black;
}

/* Responsif untuk tabel */
@media screen and (max-width: 550px) {
    .table th,
    .table td {
        padding: 4px;
    }
}

/* Gaya untuk tombol Previous dan Next */
.test-btn {
    display: inline-block;
    padding: 12px 27px;
    background-color: transparent;
    color: #6f2dbd;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #a37dcf;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.test-btn:hover {
    background-color: #b388e4;
    color: white;
}

/* Tombol Previous disembunyikan pada awalnya */
#prevButton {
    float: left;
}

/* Tombol Next disembunyikan pada akhir pertanyaan */
#nextButton {
    float: right;
}

#prevButton {
    display: none;
}

#nextButton {
    display: inline-block;
}

/* Tombol Submit disembunyikan pada awalnya */
input[type="submit"] {
    display: none;
}

/* Styling untuk form submit */
input[type="submit"] {
    background-color: #6f2dbd;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #5a239e;
}

.categories {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
}

.category:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.category img {
    width: 150px;
    height: 150px;
}

.description {
    background: var(--extra-light); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
}

.category-box {
    border-radius: 10px;
    margin: 20px 0;
    width: 95%;
    text-align: center;
}

.category-row {
    display: flex;
    justify-content: space-between;
    background-color: #d6baf0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.category-cell {
    flex: 1;
    font-size: 1.3rem;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.category-cell.selected {
    color: black;
    border-bottom: 3px solid #b473f0 !important;
}

.category-cell.dimmed {
    opacity: 0.3;
}

.category-description {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.main.result>p:last-of-type {
    font-size: 1rem;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.main.result>p:last-of-type a {
    font-weight: bold;
    color: #0056b3;
    text-decoration: none;
}

.main.result>p:last-of-type a:hover {
    color: #003d7a;
    text-decoration: underline;
}
.category img.dimmed {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.category img.selected {
    opacity: 1;
}
.logo__container {
    position: absolute;
    top: -10px;
    /* Atur posisi vertikal */
    left: 10px;
    /* Atur posisi horizontal */
    display: flex;
    flex-direction: row;
    /* Pastikan elemen dalam baris */
    align-items: center;
    /* Sejajarkan elemen secara vertikal */
    gap: 5px;
    /* Tambahkan jarak antar elemen jika diperlukan */
}

.logo {
    width: 100px;
    /* Ukuran logo */
    height: auto;
}

.logo__text {
    font-size: 1.5rem;
    /* Ukuran teks */
    font-weight: bold;
    color: #333;
    /* Warna teks */
    line-height: 1;
    /* Pastikan line-height tidak terlalu besar */
    margin-top: 0px;
}